* {
    box-sizing: border-box;
    font-size: medium;
}

body {
    display: flex;
    justify-content: center;
    background-color: salmon;
}

h2 {
  font-size: 2.25em;
  margin: 1.3rem;
  text-align: center;
  color: grey;
}

.date {
    font-weight: 800;
    font-size: x-large;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f1;
    color: rgb(54, 55, 59);
    width: 45%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding:  2rem;
    border-radius: 0.5rem;
  }

  .list {
    display: flex;
    flex-direction: column;
  }
  

  input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.4rem;
  }

  .buttonAdd {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 32px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.5rem;
  }

  .success {
    border-color: #4CAF50;
    color: green;
  }
  
  .success:hover {
    background-color: #4CAF50;
    color: white;
  }

  .info {
    border-color: #2196F3;
    color: dodgerblue;
  }

  .info:hover {
    background: #2196F3;
    color: white;
  }

  .danger {
    margin: auto;
    margin-right: 0.5rem;
    background: #f44336;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 0.5rem;
    visibility: hidden;
    cursor: pointer;
  }
  
  .card-body:hover .danger {
   
    visibility: visible;
  }

  .buttonAdd:hover {
    opacity: 1
  }  

  .card-body {
    display: flex;
    background-color: seashell;
  }

  input.checked {
    height: 40px;
    width:  40px;
    margin: 1.5rem;
  }

  input:checked {
    height: 40px;
    width: 40px;
  }

.xSpan {
  color: orangered;
  font-size: 1.5rem;
  font-weight: 600;
}

.off {
  display: none;
}